#main_photo {
    width: 300px;
    height: 300px;
    border-radius: 15%;
}

.information {
    border: 6px solid black;
    margin: 5px;
    width: 400px;
}

.information#top {
    border-radius: 0% 25% 0% 0%;
}

.information#bottom {
    border-radius: 0% 0% 25% 0%;
}

#main_block, footer {
    width: 400px;
    text-align: center;
}

img {
    width: 64px;
    height: 64px;
    margin-left: 10px;
    margin-right: 10px;
    
}

a {
    text-decoration: none;
}

h2, h1 {
    text-align: center;
}